<div class="container">
  <h1>Fate Deck Oracle</h1>
  
  <%= form_with url: calculate_path, method: :post, local: true do |form| %>
    <div class="form-group">
      <%= form.label :attacker_stat, "Attacker Value:" %>
      <%= form.number_field :attacker_stat, value: @attacker_stat, class: "form-control", required: true %>
    </div>
    
    <div class="form-group">
      <%= form.label :defender_stat, "Defender Value:" %>
      <%= form.number_field :defender_stat, value: @defender_stat, class: "form-control", required: true %>
    </div>
    
    <%= form.submit "Calculate", class: "btn btn-primary" %>
  <% end %>
  
  <% if @duel_data %>
    <div class="result">
      <h2>Success rate: <%= @duel_data["global_success_rate"] %>%</h2>

      <h3>Success rate with a raise: <%= @duel_data["global_success_rate_with_raise"] %>%</h2>
      
      <div class="result-details">
        <div class="result-row">
          <span class="label">Attacker Value:</span>
          <span class="value"><%= @duel_data["attacker_stat"] %></span>
        </div>
        
        <div class="result-row">
          <span class="label">Defender Value:</span>
          <span class="value"><%= @duel_data["defender_stat"] %></span>
        </div>
        
      </div>
    </div>
  <% end %>
</div>
